@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #1f2937;
    --secondary-color: #F9FAF8;
    --tertiary: #E5E7E5;
    --blue-element: #3882F6;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, serif;

}

/* Header and Hero Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 4%;
    flex-wrap: wrap;
    gap: 16px;
}
header, .hero {
    background-color: var(--primary-color);
}
header .logo {
    font-size: 24px;
    color: var(--secondary-color);
    font-weight: 900;
}
nav {
    display: flex;
    gap: 32px;
}
nav a {
    color: var(--tertiary);
    text-decoration: none;
}
h1 {
    font-size: 48px;
    color: var(--secondary-color);
    font-weight: 900;
    margin: 0;
}
.hero-text p {     
    font-size: 18px;
    color: var(--tertiary);
}
button {
    background-color: var(--blue-element);
    color: var(--secondary-color);
    font-size: 18px;
    padding: 8px 32px;
    border: none;
    border-radius: 10px;
}
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 4%;
    gap: 32px;
    flex-wrap: wrap;
}
.hero-text {
    flex-basis: 400px;
}

/* Information Section */
.information {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 4%;
}
h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
} 
.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 32px;
    max-width: 250px;
}
.info-box img {
    border: 3px solid var(--blue-element);
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    height: 162px;
}

/* Testimonial Section */
.testimonial {
    background-color: var(--tertiary);
    margin-top: 80px;
    padding: 100px 8%;
}
blockquote {
    width: 80%;
    margin: 0 auto;
}
blockquote .quote {
    font-size: 36px;
    color: var(--primary-color);
    font-style: italic;
}
blockquote .credit {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}

/* Call To Action Section */
.cta {
    background-color: var(--blue-element);
    padding: 60px 5%;
    margin: 100px 20%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
h3 {
    color: var(--secondary-color);
    font-size: 28px;
    margin: 0;
}
.cta-text p {
    font-size: 16px;
    color: var(--tertiary);
    margin: 0;
}
.cta-btn button {
    border: 2px solid var(--secondary-color);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 32px;
    text-align: center;
}

/* Addition Styles */
a:hover {
    color: var(--blue-element);
}
button:hover {
    background-color: var(--secondary-color);
    color: var(--blue-element);
}
.info-box {
    transition: margin 0.2s ease-in-out;
}
.info-box:hover {
    margin-top: -20px;
}